h1, p {
    font-size: 2em;
    color: #1E152A;
    font-weight: bold;
}

.level {
    background-color: #ff7700;
}

#searchMenu {
  background-color: #ff9900;  
  box-shadow: 1px 1px 10px 2px #888888;
}

.level-item {
    height: 2em;
    font-size: 2.5em;
    font-weight: bold;
    color: #1E152A;
}
