h1, .genre {
    font-size: 2em;
    color: #1E152A;
    font-weight: bold;
}

.card-content {
    padding-bottom: 1em;
}

.genre {
    display: inline;  
}

i {
    font-size: 2em;
    cursor: pointer;  
    color: #ff4800c2;
    border-radius: 50%;
    border: 2px solid #ffae00;
}

#time {
    margin-top: 1em; 
}

#navbar {
    background-image: linear-gradient(#f15a02, #ff7700);
    margin-bottom: 2em;
}

.navbar-menu {
    background-image: linear-gradient(#ff8800, #ff9900);
    background-color: #ff9900;
}

.main {
    padding-top: 0;
}

.hero {
  background-color: #ff9900;  
  box-shadow: 1px 1px 10px 2px #888888;
}

.level-item {
    height: 2em;
    font-size: 2.5em;
    font-weight: bold;
    color: #1E152A;
}

#book-to-clone {
    display: none;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* About Page */

img {
    width: 100%;
}

/* Contact Page */

#contact-description {
    margin: 1em;
    margin-top: 2em;
}

/* Media Queries */

@media screen and (min-width: 768px){
    #randomBtn {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px){
     .card-image {
        padding: 1em;
    }

    .section, .main {
        padding-top: 0;
        padding-bottom: 0;
    }

    #mail-icon {
        width: 60%
    }
}